<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>GitLab Pipeline Overlay</title>
    <link rel="stylesheet" href="./overlay.view.css" />
</head>
<body>
    <div class="window-header">
        <span class="window-title">GitLab Pipeline Overlay</span>
        <span class="window-controls">
        <button class="header-btn no-drag" title="Supprimer la configuration" onclick="window.api_config.deleteConfig()">🗑️</button>
        <button class="header-btn close-btn no-drag" title="Fermer" onclick="window.api.closeWindow()">✕</button>
        </span>
    </div>
    <div id="container"></div>
    <script type="module" src="./overlay.view.js"></script>
</body>
</html>